apiVersion: apps/v1
kind: Deployment
metadata:
  name: luhn-api
  labels:
    app: luhn-api
spec:
  replicas: 2 
  selector:
    matchLabels:
      app: luhn-api
  template:
    metadata:
      labels:
        app: luhn-api
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "3000"
        prometheus.io/path: "/metrics"
    spec:
      containers:
      - name: luhn-api
        image: amineguizani33/luhn-validator:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 3000
        resources:
          requests:
            memory: "64Mi"
            cpu: "250m"
          limits:
            memory: "128Mi"
            cpu: "500m"
        
        livenessProbe:
          httpGet:
            path: /health
            port: 3000
          initialDelaySeconds: 5
          periodSeconds: 10