name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  test_and_scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install Dependencies
        run: npm install

     
      - name: Security Audit (SAST)
        run: npm audit --audit-level=high

      
      - name: Run Tests
        run: npm test

      - name: Start App & Wait
        run: |
          npm start &
          # Use npx wait-on to ensure port 3000 is actually ready before proceeding
          # This is much safer than 'sleep 10'
          npx wait-on http://localhost:3000

      - name: Run ZAP Scan
        run: |
          # 1. PERMISSIONS: Allow the ZAP container user to write to this directory
          chmod 777 $(pwd)

          # 2. RUN DOCKER:
          # --network host: Allows container to see 'localhost:3000' on the runner
          # -v $(pwd):/zap/wrk/:rw : MOUNTS the current folder so the report is saved to your workspace
          # -I : Ignores warnings (returns 0) so the build doesn't fail on minor issues
          docker run --rm \
            --network host \
            -v $(pwd):/zap/wrk/:rw \
            owasp/zap2docker-stable \
            zap-baseline.py -t http://localhost:3000 -r dast-report.html -I

      
      - name: Upload ZAP Report
        if: always() # Run this even if the scan fails
        uses: actions/upload-artifact@v4
        with:
          name: ZAP-DAST-Report
          path: dast-report.html
 
  build_and_push:
    needs: test_and_scan 
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main' 
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/luhn-validator:latest