name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  test_and_scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install Dependencies
        run: npm install

      - name: Security Audit (SAST)
        run: npm audit --audit-level=high

      - name: Run Tests
        run: npm test

      - name: Start API in Background
        run: |
          npm start > /dev/null 2>&1 &
          npx -y wait-on tcp:3000 --timeout 60000

      
      - name: Run Nikto Scan
        
        run: |
          docker pull secfigo/nikto
          docker run --rm --network host secfigo/nikto -h http://localhost:3000 | tee nikto-report.txt

      - name: Upload Nikto Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: Nikto-Report
          path: nikto-report.txt
     

  build_and_push:
    needs: test_and_scan 
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main' 
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/luhn-validator:latest